@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}

@mixin display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin display-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:root{
    --nav-color: #202c33;
    --serch-backgroung: #202c33;
    --search-background2: #2a3942;
    --placeholder-color: #d1d7db;
    --group-color: #111b21;
    --solgun: #aebac1;
    --link-color: #53bdeb;
    --app-background: #111b21;
    --message-color: #066954;
    --message--read: #53bdeb;
    --smile-color: #e9edef80;
}

body{
    background: var(--app-background);
}

.big-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: start;

    .left-container{
        max-width: 41em;
        min-width: 41em;
        border-right: 1px solid #aebac139;


        .left-nav{
            @include display-between();
            padding: 1em 1.5em;
            background: var(--nav-color);
            height: 6em;

            img{
                width: 4em;
                border-radius: 50%;
                cursor: pointer;
            }

            .more{
                @include display-center();
                gap: 2em;

                span{
                    color: var(--solgun);
                    cursor: pointer;
                }
            }
        }

        .left-input{
            background: var(--group-color);
            padding: .7em 1em;

            .input-c{
                @include display-between();
                position: relative;
                margin-bottom: .8em;
                gap: 1em;

                input{
                    background: var(--serch-backgroung);
                    padding: .5em 2em .5em 5em;
                    width: 100%;
                    border-radius: .5em;
                    color: #fff;

                    &::placeholder{
                        color: var(--placeholder-color);
                        opacity: 0.8;
                        font-weight: 300;
                        font-size: .95em;
                        letter-spacing: 0.6px;
                    }
                }

                i{
                    color: var(--solgun);
                    font-size: 1.3em;
                    position: absolute;
                    left: 1.2em;
                }
                span{
                    color: var(--solgun);
                    cursor: pointer;
                }
            }


            .left-chats-c{
                height: 80vh;
                overflow-y: scroll;

                &::-webkit-scrollbar-thumb{
                    background: var(--serch-backgroung);
                }
                &::-webkit-scrollbar{
                    width: .8em;
                }

                .left-chats{
                    border-bottom: 1px solid #aebac139;
                    padding: 0 0 1.3em 0;
                    margin-bottom: 1.3em; 
                    display: flex;
                    flex-direction: column;
    
                    .chat{
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 2em;
                        transition: 0.2s;
                        padding: .4em .5em;
                        cursor: pointer;
    
                        &:hover{
                            background: #aebac139;
                        }
        
                        .chat-logo{
                            width: 4.9em;
                            border-radius: 50%;
                        }
        
                        .chat-info{
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            width: 100%;
                            padding: 1em 0;
                            border-bottom: 1px solid #aebac139;
        
                            .chat-name{
        
                                h1{
                                    font-size: 1.6em;
                                    font-weight: 400;
                                }
        
                                p{
                                    color: var(--solgun);
                                    font-size: 1.2em;
                                }
                            }
        
                            .date{
                                color: var(--solgun);
                                font-size: 1.1em;
        
                            }
        
                        }
                    }
    
                    .chat-last{
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 2em;
                        transition: 0.2s;
                        padding: .5em .5em;
                        cursor: pointer;
    
                        &:hover{
                            background: #aebac139;
                        }
        
                        .chat-logo{
                            width: 4.9em;
                            border-radius: 50%;
                        }
        
                        .chat-info{
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            width: 100%;
                            padding: 1em 0;
        
                            .chat-name{
        
                                h1{
                                    font-size: 1.6em;
                                    font-weight: 400;
                                }
        
                                p{
                                    color: var(--solgun);
                                    font-size: 1.2em;
                                }
                            }
        
                            .date{
                                color: var(--solgun);
                                font-size: 1.1em;
                            }
                        }
                    }
                }
                
                .secret{
                    color: #fff;
                    font-size: 1.1em;
                    letter-spacing: 0.3px;
                    text-align: center;
                    margin-bottom: 1em;
                    user-select: none;
    
                    a{
                        color: var(--link-color);
                    }
                }
            }
        }
    }

    .right-container{
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .birlik{
            position: relative;
            isolation: isolate;

            &::after{
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;
                opacity: 0.06;
                background-image: url("./img/WhatsApp-bg.png");
            }

            nav{
                @include display-between();
                background: var(--nav-color);
                padding: 0 1.5em;
                height: 6em;
    
    
                .user-name{
                    @include display-center();
                    gap: 1.7em;
    
                    img{
                        width: 4em;
                        border-radius: 50%;
                        cursor: pointer;
                    }
    
                    h1{
                        font-weight: 500;
                    }
                }
    
                .user-more{
                    @include display-center();
                    gap: 2em;
    
                    span{
                        font-size: 3.1em;
                        color: var(--solgun);
                        cursor: pointer;
                    }
                }
            }
    
            .right-chat{
                color: #fff;
                padding: 2em 6em;
                display: flex;
                flex-direction: column;
                gap: 1.3em;
                height: 80vh;

                overflow-y: scroll;

                &::-webkit-scrollbar-thumb{
                    background: var(--serch-backgroung);
                }
                &::-webkit-scrollbar{
                    width: .8em;
                }

                .smile-box-r{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 1em;

                    .message-box-r{
                        display: flex;
                        align-items: start;
                        justify-content: end;
    
                        .message-your{
                            display: flex;
                            align-items: center;
                            justify-content: end;
        
                            .word{
                                background: var(--message-color);
                                padding: .2em .7em .2em .5em;
                                border-radius: .5em 0 .5em .5em;
                                font-size: 1.3em;
                                max-width: 45em;
                                gap: 1em;
        
                                sub{
                                    color: var(--solgun);
                                    font-size: .7em;
                                    margin-left: 1em;
        
                                    span{
                                        color: var(--message--read);
                                    }
                                }
                            }
                        }
    
                        span{
                            color: var(--message-color);
                        }
                    }

                    #smile{
                        color: transparent;
                        cursor: pointer;

                        &:hover{
                            opacity: 0.9;
                        }
                    }

                    &:hover{
                        #smile{
                            color: var(--smile-color);
                        }
                    }
                }

                .smile-box-l{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 1em;

                    .message-box-l{
                        display: flex;
                        align-items: start;
                        justify-content: start;
    
                        .message-other{
                            display: flex;
                            align-items: center;
                            justify-content: start;
        
                            .word{
                                background: var(--nav-color);
                                padding: .3em .7em .2em .7em;
                                border-radius: 0 .5em .5em .5em;
                                font-size: 1.3em;
                                max-width: 45em;
                                gap: 1em;
        
                                sub{
                                    color: var(--solgun);
                                    font-size: .7em;
                                    margin-left: 1em;
                                }
                            }
                        }
        
                        span{
                            color: var(--nav-color);
                            transform: translate(0, -4.8px);
                        }
                    }

                    #smile{
                        color: transparent;
                        cursor: pointer;

                        &:hover{
                            opacity: 0.9;
                        }
                    }

                    &:hover{
                        #smile{
                            color: var(--smile-color);
                        }
                    }
                }

            }
            
            .right-search{
                width: 100%;
                height: 6.5em;
                background: var(--serch-backgroung);
                padding: 0 2em;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1.5em;
    
                span{
                    color: var(--solgun);
                    cursor: pointer;
                }
    
                input{
                    width: 59em;
                    padding: 1em;
                    border-radius: .8em;
                    background: var(--search-background2);
                    color: #fff;

                    &::placeholder{
                        color: var(--solgun);
                        font-size: 1.1em;
                        font-weight: 300;
                        opacity: .9;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

    }
    
}